img{
    max-width: 100%;
    height: auto;
}
/* Начало блока header */
.header{
    max-width: 1210px;
    margin: 0 auto 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px 0;
}
.navigation_account{
    display: flex;
}
.navigation_list{
    display: flex;
    list-style: none;
    padding: 0;
}
.navigation_item{
    margin-left: 35px;

}
.navigation_item a:hover{
    color:#202336;
}
.navigation_item:first-child{
    margin-left: 0;
}
.navigation_item:last-child{
    margin-right: 35px;
}
.navigation_link{
    color: #B8BECD;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
}
.account {
    margin-right: 55px;
    display: flex;
    align-items: center;
}
.login{
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Inter';
    font-size: 15px;
    color: #FB8F1D;
    text-decoration: none;
    width: 132px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}
.login:hover{
    color:#fff;
    background-color:#FB8F1D;
    transform: skew(-5deg);
}
.register{
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Inter';
    font-size: 15px;
    color: #fff;
    background: #FB8F1D;
    text-decoration: none;
    width: 132px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    transition: all .5s ease-in-out;
}
.register:hover{
    color: #FB8F1D;
    background-color:#fff;
    transform: skew(-5deg);
}
.account__btn{
    background:transparent;
    border:none;
    display: none;
}
.burger{
    width: 35px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.burger::after,
.burger::before,
.burger div{
    content:'';
    display: block;
    width: 100%;
    border-top: 2px solid #ffa500;
}
/* Начало блока heading*/
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}
.heading__inner {
    max-width: 360px;
    margin-right: 40px;
}
.heading__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
    margin: 0;
}
.heading__description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 75px 0 0;
}
.heading__btn{
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 17px;
    background: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    transition: all .5s ease-in-out;
    box-shadow: 0 1px 15px 9px rgba(251, 143, 29, 0.5);
}
.heading__btn:hover{
    color: #FB8F1D;
    background-color:#fff;
    transform: skew(-5deg);
}
.heading__img{
    max-width: 690px;
    width: 54%;
    flex-shrink: 0;
}
/* Начало блока inform*/
.inform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    padding: 0 15px;
    margin: 245px auto 0 auto;
}
.inform__img{
    max-width: 660px;
    width: 55%;
    flex-shrink: 0;
}
.inform__inner {
    max-width: 480px;
    margin-left: 100px;
}
.inform__title{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000;
    margin: 0;
}
.inform__description{
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin: 20px 0 0;
    padding-right: 30px;
    color: #7D7987;
}
.inform__description p{
    margin: 0;
}
.inform__btn{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    background: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    width: 164px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-decoration: none;
    transition: all .5s ease-in-out;
    box-shadow: 0 1px 15px 9px rgba(251, 143, 29, 0.5);
}
.inform__btn:hover{
    color: #FB8F1D;
    background-color:#fff;
    transform: skew(-5deg);
}
/* Начало блока footer*/
footer{
    background-color:#F9F9FB;
    margin-top: 270px;
}
.footer__margin{
    max-width: 1295px;
    padding: 78px 15px 81px 15px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid  #C4C4C4;
}
.description{
    max-width:390px;
    margin-right: 108px;
}

.description__inform{
    margin-top: 26px;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
}
.description__copiroid{
    margin-top: 80px;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #848484;
}
.footer__catalog {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 490px);
}
.footer__titile{
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 19px;
    line-height: 60px;
    color: #000000;
    margin: 0;
}
.footer__list{
    text-decoration: none;
    padding: 0;
}
.footer__item{
    list-style-type: none;
}
.footer__link{
    text-decoration: none;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}
.footer__media{
    display: flex;
    justify-content: center;
    padding: 32px 0;
    align-items: center;
}
.footer_icon{
    margin-right: 35px;
}
.footer_icon:last-child{
    margin-right: 0;
}